
//db_path = /shared/preprocessed/ctsai12/multilingual/mapdb-new
db_path = /shared/preprocessed/ctsai12/multilingual/mapdb-olden

dump_path = /shared/preprocessed/ctsai12/multilingual/wikidump-2014/ 

stopword_path = /shared/preprocessed/ctsai12/multilingual/xlwikifier-data/stopwords

model_path = /shared/preprocessed/ctsai12/multilingual/xlwikifier-data/models

